<div class="text-lg text-white p-4 bg-blue-800">Add Question</div>
<div class="flex flex-col flex-auto p-4">
  <mat-form-field class="w-full" [appearance]="'outline'">
    <mat-label>Select answer format</mat-label>
    <mat-select (selectionChange)="selectAnswerFormat($event)">
      <mat-option [value]="1">Paragraph</mat-option>
      <mat-option [value]="2">Checkbox</mat-option>
    </mat-select>
  </mat-form-field>

  <form class="flex flex-col flex-auto items-start" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="w-full" [appearance]="'outline'">
      <mat-label>Question title</mat-label>
      <textarea [formControlName]="'title'" matInput></textarea>
    </mat-form-field>

    <ng-container [ngSwitch]="answerFormat">
      <ng-template [ngSwitchCase]="1">
        <ng-container [formArrayName]="'paragraphAnswers'">
          <ng-container *ngFor="let answer of paragraphAnswers.controls; let i = index">
            <ng-container [formGroupName]="i">
              <mat-form-field class="w-full" [appearance]="'outline'">
                <mat-label>{{i + 1}} Question answer</mat-label>
                <input [formControlName]="'value'" matInput>
              </mat-form-field>
            </ng-container>
          </ng-container>
        </ng-container>
        <mat-form-field class="w-full" [appearance]="'outline'" [subscriptSizing]="'dynamic'">
          <mat-label>Enter answer number</mat-label>
          <input [formControlName]="'answer'" matInput>
          <mat-hint>Enter answer index from 1 to {{paragraphAnswers.controls.length}}</mat-hint>
        </mat-form-field>
        <button (click)="addParagraphAnswer()" [color]="'primary'" type="button" mat-raised-button>
          +Add another answer
        </button>

      </ng-template>
      <ng-template [ngSwitchCase]="2">
        <div class="w-full text-right">
          <button (click)="addCheckboxAnswer()" [color]="'primary'" type="button" mat-raised-button>
            Add answer
          </button>
        </div>
        <ng-container [formArrayName]="'checkboxAnswers'">
          <ng-container *ngFor="let answer of checkboxAnswers.controls; let i = index">
            <div class="w-full" [formGroupName]="i">
              <div class="flex items-center mt-4">
                <mat-checkbox [formControlName]="'checked'" [color]="'primary'" [value]="answer.value"></mat-checkbox>
                <mat-form-field class="w-full mx-4" [appearance]="'outline'" [subscriptSizing]="'dynamic'">
                  <mat-label>Answer title</mat-label>
                  <input [formControlName]="'title'" matInput>
                </mat-form-field>
                <button (click)="removeCheckboxAnswer(i)" [color]="'warn'" type="button" mat-icon-button>
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-template>
    </ng-container>
    <pre>{{form.value | json}}</pre>
    <button class="mt-auto ml-auto" [color]="'primary'" [disabled]="form.invalid" mat-raised-button>Submit</button>
  </form>
</div>
